@import '../../styles/media.css';

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  width: 100%;
  padding: var(--spacing-200);
}

@media (--tablet) {
  .container {
    padding: var(--spacing-300);
  }
}

@media (--laptop) {
  .container {
    padding: var(--spacing-400);
  }
}

.textContainer {
  position: relative;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 1px;
  height: 1px;
}
